#additional table {
    margin-top: 1.5rem;
    border-spacing: 4px;
}

#additional th{
    /* border: 2px solid red; */
    
    font-weight: bold;
    
}

#additional th:nth-child(1) {
    padding-left: 8px;
    text-align: left;
    width: 40%;
}

#additional tbody td {
    /* border: 1px solid palevioletred; */
    
    padding: 0;
    height: 34px;
}

#additional input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    margin: 0;
}

#additional input:focus {
    outline: none;
}

#additional input:disabled {
    cursor: text;
    box-shadow: inset 0 0 0 1px #d4d4d4;
    color: black;
    background-color: white;
}

#additional tr:hover input, #additional tr:focus-within input{
    border: 1px solid #0c72df;
}

.trash-btn{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

}

.trash-btn:hover {
    background-color: rgb(252, 218, 218);
    cursor: pointer;
}

#add-new-row {
    /* border: 1px solid red; */
    /* background-color: #a8d2ff; */
    margin-left: 4px;
    width: calc(100% - 36px);
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-row-btn {
    cursor: pointer;
    background-color: #007BFF;
    border: 0;
    border-radius: 10px;
    color: white;
    font: "Arimo", sans-serif;
    font-size: 14px;
    font-weight: 700;
    /* width: 7rem; */
    width: 100%;

}

#add-row-btn:hover {
    background-color: #0c72df;
}



