/* Normal  Arimo*/
@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/Arimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold  Arimo*/
@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/Arimo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/Arimo-VariableFont_wght.ttf') format('woff2');
  font-weight: 100 900;    /* specify the weight range */
  font-style: normal;      /* or italic if applicable */
}


html {
    font-size: 16px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
    font-family: "Arimo", sans-serif;
}

p {
    margin: 0;
}

body {
    background-color: #F9FAFB;
    margin: 0;
}

main {
    display: flex;
    align-items: flex-start;
    width: calc(100% - 4rem);
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    font-weight: 600;
    color: oklch(0.145 0 0);
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    color: oklch(0.373 0.034 259.733);
    margin: 0;
}

h4 {
    margin: 0;
}

label {
    display: block;
    color: oklch(0.145 0 0);
    /* border: 1px solid red; */
}

input:not([type="checkbox"]), select {
    background-color: rgb(238, 238, 238);
    border: 0;
    height: 26px;
    margin-top: 4px;
    padding: 4px 12px;
    border-radius: 8px;
}

select {
    height: 36px;
}

input:focus, select:focus {
    outline: 4px solid oklab(0.708 0 0 / 0.5);
}


#bill-information {
    flex: 1;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 12px 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

/* 

patient details 

*/

#patient-details label {
    margin-top: 12px;
}

#patient-name {
    width: calc(100% - 1.5rem);
}

.patient-date-info{
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
    width: 100%;
}

input[type="date"]{
    width: calc(100% - 24px);
    font-family: "Amiro", sans-serif;
}

.patient-baby-info label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.patient-baby-info label input{
    width: 10rem;
}

#gender {
    width: calc(10rem + 24px);
    font-family: "Arimo", sans-serif;
}


/* 

services and packages

*/

#packages {
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

input[type="checkbox"] {
    transform: scale(1.25);
    accent-color: rgb(19, 19, 19);
    outline: none;
    background-color: red;
}

#mcp, #encp {
    padding: 12px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* dark version */
    background-color: oklch(0.985 0.002 247.839);
}

#packages>div>label {
    font-weight: 600;
}

#rual-pf, #dalire-pf {
    background-color: white;
    width: calc(10rem - 24px);

}

#rual-pf:disabled, #dalire-pf:disabled {
    background-color: rgb(238, 238, 238);
}

#professional-fee {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.pf {
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#additional {
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.additional-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    margin: 0;
}

#add-service-btn {
    display: flex;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 600;
    column-gap: 4px;
}

#add-service-btn:hover {
    background-color: oklch(94.158% 0.02414 254.032);
    cursor: pointer;
    transform: scale(1.02);
}

.service-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(238, 238, 238);
    padding: 12px;
    border-radius: 14px;
}

.service-card label{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.service-card input {
    background-color: white;
}

.quantity-unit-price {
    display: flex;
    column-gap: 12px;

}

.quantity-unit-price label {
    flex: 1;
}

.total-delete-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-delete-button img {
    padding: 10px;
    border-radius: 8px;
    /* background-color: #ffffffb2; */
}

.total-delete-button img:hover {
    background-color: rgb(255, 216, 223);
}

#other {
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}


.other-card label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 12px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.other-card input, .other-card select {
    background-color: white;
}

#discounts {
    width: 10rem;
}


.other-card select {
    padding: 12px;
    height: auto;
    width: 11.5rem;
}



/* 
Preview
*/

#preview-and-generate {

    margin-left: 2rem;
}

#bill-preview {
    width: 8.5in;
    /* min-height: 13in; */
    height: 13in;
    /* border-bottom: 1px solid cyan; */
    /* margin-bottom: 1rem; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 0 0.5in;

}

#bill-preview header {
    margin-top: 0.2in;
}

#bill-preview header img {
    width: 8.5in;
    margin-top: 0.1in;
}

#previewTitle {
    margin: -20px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#previewTitle h1 {
    font-weight: 800;
}

.patient-info-preview {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}



.patient-info-preview p span{
    font-weight: 600;
}

.dates-preview p {
    width: 20rem;
    text-align: left;
}

.patient-info>p span {
    font-weight: 600;
    /* text-decoration: underline; */
}

/* 
TABLE 
*/

table {
    margin-top: 8px;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

thead tr {
   background-color: rgb(224, 224, 224);
   padding: 8px;
   border-bottom: 2px solid rgba(0, 0, 0, 0.1);

}

thead th:first-child {
    text-align: left;
    width: 25rem;
}

th {
    text-align: center;
    padding: 4px;
}

th:nth-child(n+2) {
    width: 10rem;
}

.item-name, .package-name {
    text-align: left;
}

.item-name {
    padding-left: 2rem;
}

td {
    text-align: right;
    padding: 0.25rem 3.25rem;
}

tbody tr {
   border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
}

.professional-row .item-name {
    padding-left: 4rem;
    font-weight: 600;
}

.package-name {
    padding: 4px;
    font-weight: 600;
}

.maternity {
    background-color: oklch(94.614% 0.06994 156.246);
    border-bottom: 2px solid oklch(66.966% 0.1542 151.284);
}


.maternity .package-name {
    color: oklch(36.66% 0.10541 148.271);
}

.expanded {
    background-color: oklch(94.989% 0.02467 251.989);
    border-bottom: 2px solid oklch(0.882 0.059 254.128);
}

.expanded .package-name {
    color: oklch(43.091% 0.17111 265.618);
}

/* 
TOTAL AMOUNT 
*/

.totals {
    margin-right: 3.25rem;
    width: 22rem;
    align-self: flex-end;
}

#subtotal, #discount, #total-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
    font-size: 18px;
}

#subtotal > :first-child, #discount > :first-child {
    font-weight: 200;
    
}

#total-amount {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid black;
    font-size: 1rem;
}

/* 
SIGNATURE SECTION
*/

#signature-section {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
}

.sign p {
    padding: 2px;
    font-weight: 600;;
}

.sign > :nth-child(2) {
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
}



/* 
PRINT PREVIEW
 */
#generate {
    display: flex;
    justify-content: center;
   
}


@media print {
    body, main {
        margin: 0;
        padding: 0;
    }
    main * {
        visibility: hidden;
    }

    #bill-information, #generate {
        display: none;
    }

    #preview-and-generate {
        margin: 0;
    }

    #bill-preview , #bill-preview * {
        visibility: visible;
        box-shadow: none;

        
     
    }

    table {
        border: 2px solid oklch(55.208% 0.00006 271.152);
    }

    thead tr {
        border-bottom: 2px solid oklch(55.208% 0.00006 271.152);

    }

    .package-name-row {
        border-bottom: 1px solid oklch(55.208% 0.00006 271.152);
    }

    .expanded {
        border-top: 2px solid oklch(55.208% 0.00006 271.152);
        border-bottom: 1px solid oklch(55.208% 0.00006 271.152);
    }

    .package-name {
        color: black;
    }

    .expanded .package-name {
        color: black;
    }


    


}