/* Normal  Arimo*/
@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/Arimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold  Arimo*/
@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/Arimo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/Arimo-VariableFont_wght.ttf') format('woff2');
  font-weight: 100 900;    /* specify the weight range */
  font-style: normal;      /* or italic if applicable */
}


html {
    font-size: 16px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
    font-family: "Arimo", sans-serif;
}

input[type="date"] {
    font-size: 14px;
    font-family: "Arimo", sans-serif;
}

p {
    margin: 0;
}

body {
    background-color: #F9FAFB;
    margin: 0;
}

main {
    display: flex;
    align-items: flex-start;
    width: calc(100% - 4rem);
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    font-weight: 600;
    color: oklch(0.145 0 0);
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    color: oklch(0.373 0.034 259.733);
    margin: 0;
}

h4 {
    margin: 0;
}

label {
    display: block;
    color: oklch(0.145 0 0);
    user-select: none;

    /* border: 1px solid red; */
}

#packages label {
    cursor: pointer;
}

input:not([type="checkbox"]), select {
    background-color: rgb(238, 238, 238);
    border: 0;
    height: 26px;
    margin-top: 4px;
    padding: 4px 12px;
    border-radius: 8px;
}

select {
    height: 36px;
}

input:focus, select:focus {
    outline: 4px solid oklab(0.708 0 0 / 0.5);
}


.emphasize {
    font-weight: 600;
}

#bill-information {
    width: 540px;
    margin: 0 auto;
    
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 12px 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

#header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

/* 

patient details 

*/

#patient-details label {
    margin-top: 12px;
}

#patient-name {
    width: calc(100% - 1.5rem);
}


.patient-info-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.patient-info-form label{
    display: flex;
    flex-direction: column;
}
/* 

services and packages

*/

#packages {
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

input[type="checkbox"] {
    transform: scale(1.25);
    accent-color: rgb(19, 19, 19);
    outline: none;
    background-color: red;
}

#mcp, #encp {
    padding: 16px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* dark version */
    background-color: oklch(0.985 0.002 247.839);
    transition: 0.3s ease all;
}



#packages>div>label {
    font-weight: 600;
}

#mcp input[type="number"], #encp input[type="number"] {

    width: calc(10rem - 24px);

}

.package-spacing {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.package-gap {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    
}

.pf {
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.service-row-space {
    margin-left: 12px;
}

#additional {
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    
}

#additional-generated-services {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.additional-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    margin: 0;
}



.buttons {

    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 600;
    column-gap: 4px;
    width: 6.5rem;

}


.buttons:hover {
    /* background-color: #0c72df; */
    cursor: pointer;
    transform: scale(1.02);
}

#load-info-btn {
    background-color: #007BFF;
    border: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#load-info-btn:hover {
    background-color: #0c72df;
}

.service-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(238, 238, 238);
    padding: 12px;
    border-radius: 14px;
}

.service-card label{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.service-card input {
    background-color: white;
}

.quantity-unit-price {
    display: flex;
    column-gap: 12px;

}

.quantity-unit-price label {
    flex: 1;
}

.total-delete-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-delete-button img {
    padding: 10px;
    border-radius: 8px;
    /* background-color: #ffffffb2; */
}

.total-delete-button img:hover {
    background-color: rgb(255, 216, 223);
}

#other {
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}


.other-card label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 12px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.other-card input, .other-card select {
    background-color: white;
}

#discounts {
    width: 10rem;
}


.other-card select {
    padding: 12px;
    height: auto;
    width: 11.5rem;
}



/* 
Preview
*/

#preview-and-generate {
    /* display: none; */
    margin-left: 2rem;
}

#bill-preview {

    width: 8.5in;
    /* min-height: 13in; */
    height: 13in;
    /* border-bottom: 1px solid cyan; */
    /* margin-bottom: 1rem; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 0 0.5in;

}

#bill-preview header {
    /* margin-top: 0.2in; */
}

#bill-preview header img {
    width: 8.5in;
    margin-top: 0.1in;
}

#previewTitle {
    margin: -20px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#previewTitle h1 {
    font-weight: 800;
}

.patient-info-preview {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}



.patient-info-preview p span{
    font-weight: 600;
}

.dates-preview p {
    width: 20rem;
    text-align: left;
}

.patient-info>p span {
    font-weight: 600;
    /* text-decoration: underline; */
}

/* 
TABLE 
*/

.services-rendered table {
    margin-top: 8px;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

.services-rendered thead tr {
   background-color: rgb(224, 224, 224);
   padding: 8px;
   border-bottom: 2px solid rgba(0, 0, 0, 0.1);

}

.services-rendered thead th:first-child {
    text-align: left;
    width: 25rem;
}

.services-rendered th {
    text-align: center;
    padding: 4px;
}

.services-rendered th:nth-child(n+2) {
    width: 10rem;
}

/* row */


.services-rendered td {
    text-align: right;
    padding: 0.25rem 3.25rem;
}

.services-rendered .item-name, .services-rendered .package-name {
    text-align: left;
}

.services-rendered .item-name {
    padding-left: 2rem;
}

.services-rendered tbody tr {
   border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
}

#hidden-td {
    visibility: hidden;
    /* font-weight: 600; */
}

#rual-row .item-name, #dalire-row .item-name {
    padding-left: 4rem;
    font-weight: 600;
}

.services-rendered .package-name {
    padding: 4px;
    font-weight: 600;
}

.maternity {
    background-color: oklch(94.614% 0.06994 156.246);
    border-bottom: 2px solid oklch(66.966% 0.1542 151.284);
}


.maternity .package-name {
    color: oklch(36.66% 0.10541 148.271);
}

.expanded {
    background-color: oklch(94.989% 0.02467 251.989);
    border-bottom: 2px solid oklch(0.882 0.059 254.128);
}

.expanded .package-name {
    color: oklch(43.091% 0.17111 265.618);
}

.additional {
    background-color: oklch(91.505% 0.05366 308.316);
    border-bottom: 2px solid oklch(79.436% 0.13218 306.029);
}

.additional .package-name {
    color: rgb(170, 4, 162);
}

/* 
TOTAL AMOUNT 
*/

.totals {
    margin-right: 3.25rem;
    width: 22rem;
    align-self: flex-end;
}

#subtotal, #discount-prev, #total-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
    font-size: 18px;
}

#subtotal > :first-child, #discount-prev > :first-child {
    font-weight: 200;
    
}

#total-amount {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid black;
    font-size: 1rem;
}

/* 
SIGNATURE SECTION
*/

#signature-section {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
}

.sign p {
    padding: 2px;
    font-weight: 600;;
}

.sign > :nth-child(2) {
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
}



/* 
PRINT PREVIEW
 */
#print {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.generate-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    border-radius: 12px;
    color: white;
    background-color: rgb(3, 2, 19);
    height: 40px;
    font-weight: 600;
}

.generate-box:hover {
    background-color: rgba(3, 2, 19, 0.85);
    cursor: pointer;
}





@media print {
    body, main {
        margin: 0;
        padding: 0;
    }
    main * {
        visibility: hidden;
    }

    #bill-information, #print {
        display: none;
    }

    #preview-and-generate {
        margin: 0;
    }

    #bill-preview , #bill-preview * {
        visibility: visible;
        box-shadow: none;
    }

    #hidden-td {
        visibility: hidden;
    }

    table {
        border: 2px solid oklch(55.208% 0.00006 271.152);
    }

    thead tr {
        border-bottom: 2px solid oklch(55.208% 0.00006 271.152);

    }

    .package-name-row {
        border-bottom: 2px solid oklch(55.208% 0.00006 271.152);
    }

    .expanded, .additional, .maternity {
        border-top: 2px solid oklch(55.208% 0.00006 271.152);
        border-bottom: 1px solid oklch(55.208% 0.00006 271.152);
    }

    .expanded .package-name, .additional .package-name, .maternity .package-name {
        color: black;
    }



}



/* toggle classes */
.hidden {
    display: none;
}

input:disabled {
    background-color: #f9fde3;
    box-shadow: inset 0 0 0 1px #e5e9ce;
    color: #888;     
    cursor: not-allowed;
}

